@model IEnumerable<MarkdownBlog.Net.Web.Models.SearchResult>
@{ ViewBag.Title = "Search results"; }

@if (Model == null)
{
   <div>Search text was blank, please enter some text to search for!</div> 
}
else if (!Model.Any()) {
    <div>No search results found</div>
}
else {
    foreach (var searchResult in Model) {
    <div>
        <h3><a href="@searchResult.Url" title="@searchResult.Title">@searchResult.Title</a></h3>
        @if (!string.IsNullOrWhiteSpace(searchResult.Description))
        {
            <h4>@searchResult.Description</h4>
        }
        @if (!(string.IsNullOrWhiteSpace(searchResult.PublishDate) && string.IsNullOrWhiteSpace(searchResult.Author)))
        {
            <i>Posted by @searchResult.Author on @searchResult.PublishDate</i>
        }
        <p>@searchResult.Body.Substring(0, searchResult.Body.Length < 300 ? searchResult.Body.Length : 300)
            @if (searchResult.Body.Length >= 300)
            {
                @Html.Raw("&#x2026");
            }
        </p>
    </div>
    }
}