@using MarkdownBlog.Net.Web.Models

@helper PostJumbotron(PostMetadata postMetadata)
{
    <h1>@postMetadata.Title</h1>
    <h2>@postMetadata.ShortDescription</h2>

    PublishedInfo(postMetadata);
}

@helper PublishedInfo(PostMetadata postMetadata)
{     
    @PublishedInfo(postMetadata.Author, postMetadata.PublishDate.ToString("dd MMMM yyyy"), postMetadata.LastUpdatedDate.ToString("dd MMMM yyyy"));
}

@helper PublishedInfo(SearchResult searchResult)
{
    @PublishedInfo(searchResult.Author, searchResult.PublishDate, searchResult.LastUpdatedDate);
}

@helper PublishedInfo(string author, string publishDate, string lastUpdateDate)
{
    if (!string.IsNullOrWhiteSpace(publishDate))
    {
        <i>Posted by @author on @publishDate</i>
    }

    if (!string.IsNullOrWhiteSpace(lastUpdateDate))
    {
        <br /><i>Last updated on @lastUpdateDate</i>
    }
}
